.git
.github
.idea
.vscode
node_modules
vendor
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*
.env
.env.*
tests
coverage.xml
phpunit-result-cache
docker-compose.yml
README.md
API_DOCUMENTATION.md
DEPLOYMENT.md
DATABASE_DEFENSE_DOCUMENTATION.md
BACKEND_DEFENSE_DOCUMENTATION.md
FRONTEND_DEFENSE_DOCUMENTATION.md
*.md

