APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database
APP_LOAD_VALID_NAMES_TO_REDIS=true

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=plusdate
DB_USERNAME=plusdate_admin
DB_PASSWORD=change_me_admin_password
DB_READ_USERNAME=plusdate_app_read
DB_READ_PASSWORD=change_me_read_password
DB_WRITE_USERNAME=plusdate_app_write
DB_WRITE_PASSWORD=change_me_write_password
POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERUSER_PASSWORD=change_me_postgres_password

DICTIONARY_DB_HOST=127.0.0.1
DICTIONARY_DB_PORT=5432
DICTIONARY_DB_DATABASE=dictionary
DICTIONARY_DB_USERNAME=plusdate_admin
DICTIONARY_DB_PASSWORD=change_me_admin_password

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

CENTRIFUGO_URL=http://localhost:8000
CENTRIFUGO_SECRET=
CENTRIFUGO_API_KEY=
TELEGRAM_TOKEN=
TELEGRAM_BOT_NAME=
TELEGRAM_REDIRECT_URI=
TELEGRAM_MINI_APP_URL=
BOT_TOKENS=

IMMAGA_PUBLIC_KEY=
IMMAGA_PRIVATE_KEY=

ADMIN_JWT_SECRET=

TRIBUTE_API_KEY=
TRIBUTE_WEEK_PRICE_LINK=
TRIBUTE_MONTH_PRICE_LINK=
TRIBUTE_THREE_MONTH_PRICE_LINK=
TRIBUTE_THREE_DAYS_PRICE_LINK=
TRIBUTE_WEEK_ID=
TRIBUTE_MONTH_ID=
TRIBUTE_THREE_MONTH_ID=
TRIBUTE_THREE_DAYS_ID=

STRIPE_KEY=
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=
STRIPE_THREE_DAYS_PRICE_ID=
STRIPE_WEEK_PRICE_ID=
STRIPE_MONTH_PRICE_ID=
STRIPE_THREE_MONTH_PRICE_ID=
PAYMENT_REDIRECT_URL=

WEEK_PRICE_USD=
MONTH_PRICE_USD=
THREE_MONTH_PRICE_USD=
WEEK_PRICE_STARS=
MONTH_PRICE_STARS=
THREE_MONTH_PRICE_STARS=
THREE_DAYS_PRICE_STARS=

RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_DEFAULT_REGION=us-east-1
MINIO_BUCKET=
MINIO_URL=
MINIO_ENDPOINT=

AWS_URL=
AWS_ENDPOINT=

GOOGLE_CLOUD_KEY_FILE=
GOOGLE_CLOUD_KEY_JSON=
GOOGLE_CLOUD_PROJECT_ID=
GOOGLE_CLOUD_STORAGE_BUCKET=
GOOGLE_CLOUD_STORAGE_PATH_PREFIX=
GOOGLE_CLOUD_STORAGE_API_URI=
GOOGLE_CLOUD_STORAGE_API_ENDPOINT=
